@import "autoWidth.scss";
$vw_base:780;
// img{
//     display: inline-block;
//     width: 45%;
//     max-width: 50%;
// }
.lt-swiper-show-all-images {
  width: 972px;
  .lt-swiper-container {
    background-color: black;
    position: relative; // padding:0 30px;
    overflow: hidden;
    .baoguo{
      margin: 0 30px;
      overflow: hidden;
      .lt-swiper-wrapper {
      
        
        position: relative; // 图片大小
        width: 10000px;
        // height: 200px;
        font-size: 0;
        transition: margin-left 0.5s;
        img {
          // display: none;
          position: relative;
          box-sizing: border-box; // top: 0;
          // left: 0;
          width: 144px;
          height: 86px;
          // padding: 0 20px;
          margin: 0 4px;
          border:4px solid rgba(0, 0, 0, 0);
        }
        .selected{
          border:4px solid #0099ff;
        }
      }
    }
    
  }
  .lt-swiper-show-image {
    // background-color: aqua;
    width: 100%;
    height: 640px;
    background-size:cover;
    background-position: center center;
    margin-bottom: 20px;
  }
  p{
    text-align: center;
    margin-bottom: 60px;
  }
    
}

.lt-swiper-button-prev.lt-swiper-button-white,
  {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.lt-swiper-button-next.lt-swiper-button-white,
  {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.lt-swiper-button-prev,
.lt-swiper-button-next {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.lt-swiper-button-next {
  right: 0px;
}

.lt-swiper-button-prev {
  left: 0px;
}