@import "autoWidth.scss";
$vw_base:780;
// img{
//     display: inline-block;
//     width: 45%;
//     max-width: 50%;
// }

html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: #000;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
    width: 600px;
  }
  .swiper-container {
    
    width: 500px;;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .swiper-slide {
      width: 500px;
    background-size: cover;
    background-position: center;
  }
  .gallery-top {
    height: 80%;
    width: 100%;
  }
  .gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }
  .gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }
  .gallery-thumbs .swiper-slide-active {
    opacity: 1;
  }
.swiper-button-next{
    // margin-right: -100px;
}


.swiper-slide{
    // margin:0 100px;

}
.swiper-wrapper{
    // width:80%;
}