*{font-family: "微软雅黑",Arial,"Helvetica Neue",Helvetica,"sans-serif";font-size: 16px;box-sizing:border-box;margin:0;padding:0;}
a{text-decoration:none;}
img{border:none;}
li{list-style: none;}
input,button{outline: none;}
.clear:after{content:"";display: block;clear:both;height: 0;}
.fl{float:left;}
.fr{float:right;}
.hid{display: none;}
.shw{display: block;}
.dis-flex{-webkit-flex:flex;display: flex;}
.txtidt{text-indent:2em;}
.txts{-webkit-line-clamp:2;overflow:hidden;display: -webkit-box;-webkit-box-orient:vertical;}
@media screen and (min-width:1410px){
	html,body{overflow-x:hidden;}
}
.container{width:1200px;margin:0 auto;}
.minW{min-width:1400px;margin:0 auto;}

.topbar .container{font-size: 0;overflow-x: hidden;}
.topbar{height: 64px;line-height: 64px;border-bottom: 1px solid #f6f6f6;font-size: 0px;}
.topbar-left ,.topbar-right{display: inline-block;width:50%;}
.topbar-left span,.topbar-left b{color:#828a92;font-size: 16px;}
.topbar-left b{font-weight: normal;margin-left: 40px;}
.topbar-right{text-align: right;}
.topbar-right a{color:#0099ff;font-size: 16px;}
.topbar-right a:before{content: "\e658";font-family: "iconfont"!important;font-size: 18px;margin-right: 5px;color:#0099ff;}
.topbar-right a:hover,.topbar-right a:hover:before{color:#fa8700;text-decoration:none;}
/* 导航 start */
.navbar{height: 100px;line-height: 100px;position: relative;z-index: 999999;}
.logo{height: 100%;}
.logo img{vertical-align: middle;width: 234px;height: 66px;}
.navbar-nav{line-height: 100px;height: 100px;}
.navbar-nav>li{float:left;position: relative;overflow: hidden;}
.navbar-nav li a{display: inline-block;min-width: 124px;color:#333;font-size: 18px;text-align:center;position: relative;transition:all 0.6s;}
.navbar-nav li.active a{background-color:#0099ff;color:#fff;position: relative;}
.navbar-nav li:hover a{transform: translateY(-100px);}
.navbar-nav li a:after{content:attr(data-nav);display: inline-block;height: 100%;width: 100%;left: 0;top: 100%;position: absolute;color:#0099ff;}
.navbar-nav li.active:hover a{transform: translateY(0);}
.navbar-nav-list{position: relative;width: 100%;background-color: rgba(0,0,0,0.65);}
.navbar-nav-list .container{text-align: center;position: relative;}
.navbar-nav-list ul{line-height: normal;padding:20px 0;text-align: left;display: none;}
.navbar-nav-list ul li{width:188px;margin:10px;line-height: normal;display: inline-block;transition: 0.2s;}
.navbar-nav-list ul li img{max-width:100%;position: relative;}
.navbar-nav-list ul li:hover{transform:scale(1.1);}
.navbar-nav-list ul li:hover img{filter:contrast(120%) brightness(130%);}
.navbar-nav-list ul li p{text-align: center;color:#fff;}
.navbar-nav-list ul li:hover p{color:#0099ff;}
/* 导航 end */
/* 侧导航 start*/
.side-nav{position: fixed;right:34px;z-index: 9999;bottom:50px;}
.side-nav i{display: block;width: 50px;height: 50px;margin-bottom: 10px;color:#fff;font-size: 30px;text-align:center;line-height: 50px;background-color: #0099ff;border-radius: 3px;transition:0.3s;}
.side-nav i:hover{transform:scale(1.15);text-shadow: 0 0 2px #1F82C4;}
/* 侧导航 end */
/* footer start */
.home-footer{background-color: #575757;padding:20px;text-align: center;}
.home-footer ul{margin-top: 10px;margin:0 auto;width: 800px;}
.home-footer ul li{display: inline-block;}
.home-footer ul li a{display: inline-block;float: left;color:#fff;padding:0 20px;border-right: 1px solid #fff;}
.home-footer ul li a:hover{color:#0099ff;}
.home-footer ul li:last-child a{border-right:none;}
.home-footer p{color:#fff;font-size: 14px;margin-top: 10px;}
/* footer end */

/* 企业简介、企业公告 banner start */
.page-banner{height: 450px;text-align: center;color:#fff;padding-top: 140px;}
.page-banner h2{font-size: 35px;font-weight: normal;color:#fff;letter-spacing: 1px;margin-bottom: 10px;}
.page-banner p{color:#fff;font-size: 20px;text-align: center;}
.flash-arrow{width:40px;height: 40px;border-radius: 50%;border:2px solid rgba(255,255,255,0.5);line-height: 40px;text-align: center;display: inline-block;margin-top: 20px;}
.flash-arrow i{color:#fff;font-size: 18px;animation:flashArrow 0.7s linear infinite alternate;display: inline-block;}
	/* 企业简介 */
/* .profile-banner{background: url(../img/company_profile/profile_banner.jpg) center center no-repeat;background-size:cover;} */
/* 企业简介、企业公告 banner end */

/* 内页正文图片 start */
.home-img1{text-align: center;margin:10px 0;}
.home-img2{text-align: left;margin:10px 0;}
.home-img1 img,.home-img2 img{max-width: 100%;}
/* 内页正文图片 end */
/* 标题 start */
	/*标题1*/
.home-title{text-align: center;}
.home-title h2{color:#333;font-weight: bold;font-size: 28px;letter-spacing: 1px;}
.home-title span{display: inline-block;width: 60px;height: 3px;background-color: #0099ff;margin:8px 0;}
.home-title p{color:#c6c6c6;font-size: 16px;}
	/*标题2*/
.home-title2{color:#828a92;line-height: 50px;height: 50px;border-bottom:1px solid #e6e6e6;letter-spacing: 1px;}
.home-title2>*{font-size: 16px;}
.home-title2 i{margin-right: 2px;}
.home-title2 a{color:#828a92;}
.home-title2 a:hover{color:#0099ff;}
/* 标题 end */

/* 企业公告 文本样式 start */
.home-p1{font-size: 22px;font-weight: normal;color:#333;margin-bottom: 15px;}
.home-p2{color:#828a92;font-size: 16px;margin-right: 40px;}
.home-p3{color:#333;font-size: 16px;line-height: 30px;}
/* 企业公告 文本样式 end*/

/* 企业公告 新闻资讯 按钮 start */
.home-btn{justify-content:space-between;margin: 60px 0;font-size: 0}
.home-btn button{width:400px;height: 90px;padding:15px;background-color: #efefef;text-align: center;border:none;position: relative;overflow: hidden;z-index: 10;}
.home-btn button>*{position: relative;z-index: 20;}
.home-btn button p{color:#333;font-size: 18px;}
.home-btn button span{color:#828a92;font-size: 16px;margin-top: 5px;display: inline-block;}
.home-btn button:after{position: absolute;left: 50%;top: 45%;width:10px;height: 10px;border-radius: 50%;transition:transform 0.5s,opacity 0.5s;background-color: #0099ff;display: inline-block;content:"";opacity:0;z-index: 13;}
.home-btn button:hover:after{opacity: 1;transform:scale(100);}
.home-btn button:hover>*{color:#fff;}
.home-btnl,.home-btnr{display: inline-block;width: 50%;}
.home-btnr{text-align: right;}
/* 企业公告 新闻资讯 按钮 end */



/* 动画 start */
@keyframes flashArrow{
	from{
		transform: translateY(-3px);
	}
	to{
		transform: translateY(3px);
	}
}
/* 动画 end*/


 